<!doctype html>
{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<html lang="{{ eccube_config.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# <title>{{ error_title }}</title> #}
    <link rel="icon" href="{{ asset('assets/img/common/favicon.ico', 'user_data') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
</head>
<body>

<div class="summer_gift_content">
    {# PC版のレイアウト #}
    <div class="summer_gift_pc">
      {% if "now"|date('Y-m-d') < '2022-07-07' %}
        <img src="{{ asset('summer_gift_0621_pc.png', 'save_image') }}" alt="夏ギフト説明">
      {% else %}
        <img src="{{ asset('summer_gift_0707_pc.png', 'save_image') }}" alt="夏ギフト説明">
      {% endif %}
    </div>

    {# SP版のレイアウト #}
    <div class="summer_gift_sp">
      <div class="sp_img">
        <img src="{{ asset('summer_gift_sp01.png', 'save_image') }}" alt="夏ギフト説明" class="sp_img_large">
      </div>
      <div class="sp_img">
        <img src="{{ asset('summer_gift_sp09.png', 'save_image') }}" alt="夏ギフトご注文期限" class="sp_img_medium">
      </div>
      <div class="sp_img">
        <img src="{{ asset('summer_gift_sp02.png', 'save_image') }}" alt="HOPカード会員様限定特典" class="sp_img_large">
      </div>
      <div class="sp_img">
        <img src="{{ asset('summer_gift_sp03.png', 'save_image') }}" alt="夏ギフトご購入特典" class="sp_img_large">
      </div>
      {# 超早得 #}
      {% if "now"|date('Y-m-d') < '2022-06-21' %}
        <div class="sp_img_super_early_discount">
          <img src="{{ asset('summer_gift_sp04.png', 'save_image') }}" alt="超早割" class="sp_img_small">
        </div>
      {% endif %}

      {# 早期割引＆ボーナスポイント #}
      {% if "now"|date('Y-m-d') < '2022-07-07' %}
      <div class="sp_img_discount_bonus">
        <img src="{{ asset('summer_gift_sp06.png', 'save_image') }}" alt="ボーナスポイント" class="sp_img_medium">
      </div>
        
      <div class="sp_img_discount_bonus">
        <img src="{{ asset('summer_gift_sp05.png', 'save_image') }}" alt="早期割引" class="sp_img_medium">
      </div>
      <div class="sp_img">
        <img src="{{ asset('summer_gift_sp07.png', 'save_image') }}" alt="全国無料配達" class="sp_img_x_small">
      </div>
      {% else %}
      <div class="sp_img_discount_bonus">
        <img src="{{ asset('summer_gift_sp06.png', 'save_image') }}" alt="ボーナスポイント" class="sp_img_medium">
      </div>
      <div class="sp_img_discount_bonus">
        <img src="{{ asset('summer_gift_sp07.png', 'save_image') }}" alt="全国無料配達" class="sp_img_medium">
      </div>
      {% endif %}

      

      <div class="sp_img">
        <img src="{{ asset('summer_gift_sp08.png', 'save_image') }}" alt="注意事項" class="sp_img_medium">
      </div>
    </div>

    <br />

    <a class="ec-inlineBtn" href="{{ url('homepage') }}">{{ 'TOPに戻る'|trans }}</a>
</div>
</body>
</html>